:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

*{
    font-size: 15px;
    box-sizing: border-box;
}
@media screen and (min-width: 375px) {
    .main_container{

    }
}

html,
body {
    font-family: "Outfit", sans-serif;
}

.main_container {
    /*
    
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 5px 5px 5px rgba(0,0,0, 0.03);
    */

    width: 30%;
    min-width: 600px;
    margin: auto;
    padding: 1.5rem;
}

.qr_component {
    /*
    width: 400px;
    height: 600px;
    margin: 15px;
    background-color: var(--white);
    border-radius: 25px;
    padding: 15px;*/
}

.qr_component img{
    width: 80%;
}

.qr_image {
    /*
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;*/
}

.qr_main_text{
    color: var(--dark-blue);
}

.qr_second_text{
    color: var(--grayish-blue);
}

.text_align {
    text-align: center;
}